PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=verzel_ticket

REDIS_HOST=localhost

REDIS_PORT=6379
REDIS_PASS=redis

REDIS_LOCK_PORT=6380
REDIS_LOCK_PASS=redislock

JWT_SECRET=change_me
JWT_EXPIRES_IN=1d

TMDB_API_KEY=

TICKETMASTER_API_KEY=
