PORT=3000

DB_HOST=localhost
DB_PORT=5439
DB_USER=postgres
DB_PASS=postgres
DB_NAME=verzel_ticket

REDIS_HOST=localhost
REDIS_PORT=6382
REDIS_PASS=redis

REDIS_LOCK_HOST=localhost
REDIS_LOCK_PORT=6381
REDIS_LOCK_PASS=redislock

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m


JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=3d

PEPPER=

TICKETMASTER_API_KEY=BNLhPA5vRIoOi56zaM2H8IAhv2o4nrWy
